*, *::before, *::after {
	box-sizing: border-box;
}
/* Variables */
$color-one: green;
$color-light: #fff;
$color-dark: black;
$font-text: Noto Sans JP, sans-serif;
/* Global */
body {
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-dark;
    margin:0; 
    text-align: center; 
}
section {
    padding: 70px 0;
}

/* splash */
.splash  {
    background-image: url(https://images.pexels.com/photos/2180180/pexels-photo-2180180.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   
.navigation {
    padding: 12px 0;
    text-align: right;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin: 0 36px 0 0;
        position: relative;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
.page-title {
    text-align: center;
    font-size: 50px;
    margin: 48px 0 0 0;
    position: relative;
}
.page-subtitle {
    font-size: 25px;
    margin: 24px 0 0 0;
    font-style: oblique;
    text-align: center;
}
.container {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}
.btn {
display:inline-block;
min-width: 160px
margin: 24px auto 0 auto;
padding: 16px
border-radius: 5px;
font-size: 16px;
text-align: center;
text-decoration: none;
cursor: pointer;
border-width: 2px;
border-style: solid;
background-color: cyan; 
color:black;
}
/*services */

.row i {
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: black;
    border-radius: 50%; 
}
.card-image {
    max-width: 350px;
    height: 100%;
}
.card-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#fff;
    background-clip: border-box;
    margin-bottom: 20px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 15px;
    text-align:center;
}
.services {
    text-align: center;
}
.sign {
    padding-top: 40px;
}
.services h3 {
    font-size: 20px;
}
/*Portfolio */
.portfolio {
    background: grey;
}
.portfolio h3 {
    padding-bottom: 40px;
    font-size: 20px;
}
/* Footer */
footer {
    margin: auto; 
}
  
.page-footer {
    max-width: 500px;
    padding: 24px 0;
    font-size: 15px;
    display: inline;
}
  
.page-footer a {
    font-size: 0; 
}
  
.page-footer li {
    display: inline; 
}
  
.page-footer li i {
    font-size: 20px;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    border-radius: 50%; 
}
